{% extends 'base.html' %}
{% block content %}

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });

</script>
<main>

  <div class="container">
    <div id="profile-page-header" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/app/img/not-found-background.png" alt="user background">
      </div>
      <div class="row hide-on-small-and-down">
        <a class="card-profile-image-large">
          <img style="margin-top: 20%;" src="/static/app/img/not-found.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </a>
      </div>
      <div class="row show-on-small hide-on-med-and-up">
        <a class="card-profile-image-small">
          <img src="/static/app/img/not-found.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </a>
      </div>
      <div class="card-content s12">
          <div class="col s3 offset-s2 hide-on-med-and-down">
            <h4 class="card-title grey-text flow-text text-darken-4">Lo sentimos, el usuario que buscas no pudo ser encontrado.</h4>
          </div>
          <div class="col s3 l2 hide-on-med-and-down center-align">
            <div class="switch" style="margin-left: 10px;">
            </div>
          </div>
      </div>

      <div class="row show-on-medium-and-down hide-on-med-and-up">
        <div class="col s4 offset-s2">
          <h4 class="card-title grey-text flow-text text-darken-4">Yolanda Martinez</h4>
          <p class="medium-small flow-text grey-text">&ensp;Vendedor Fijo</p>
          <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
            &ensp;Horario: <a class="light-green-text">12:30-14:15</a>
          </p>
          <div class="switch" style="margin-left: 10px;">
            <label>
              <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
              <!--<input type="checkbox"><span class="lever"></span>-->
              <h6><i class="material-icons amber-text">grade</i>
                <span class=" grey-text flow-text text-darken-4"style="font-size:22px; line-height:25px;">42</span>
              </h6>
            </label>
          </div>
        </div>

        <!--<div class="col s3 offset-s2 offset-l10">
          <div class="switch" style="margin-left: 10px;">
            <label>
              <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
              <input type="checkbox"><span class="lever"></span>
            </label>
          </div>
        </div>-->
        <div class="col s4 offset-s8 right-align"> <!--offset-s4-->
          <a class="btn-floating activator waves-effect waves-light darken-2">
            <i class="material-icons">mode_edit</i>
          </a>
        </div>
      </div>
    </div>
  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}